<launch>    
    <node pkg="fast_lio_localization" type="Obstacle_cloudget" name="Obstacle_cloudget" output="screen">
		<param name="kdtree_search_radius" value="3.9"/>
		<param name="filter_search_radius" value="0.1"/>
		<param name="save_obstacle_cloud_time" value="0.5"/>
		<param name="icp_success" value="1"/>
		<param name="clear_x" value="0.45"/>
		<param name="clear_y" value="0.6"/>
		<param name="static_inflate_distance" value="0.1"/>
		<param name="dynamic_inflate_distance" value="0.3"/>
	</node>
</launch>
