<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen" clear_params="true" args="/map:=prior_map /odom:=odom">
        <param name="planner_frequency" value="10.0" />
        <param name="planner_patience" value="10.0" />
        <param name="use_dijkstra" value="true" />
        <param name="cost_factor" value="5.0" />
        <rosparam file="$(find sentry_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sentry_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sentry_nav)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sentry_nav)/param/global_costmap_params.yaml" command="load" />
</node>

    <!-- icp重定位初始化后清除原位置全局代价地图 -->
    <node pkg="sentry_nav" type="icp_costmap_clear" name="icp_costmap_clear" /> 
    <node pkg="sentry_nav" type="pid_follow" name="pid_follow" output="screen" respawn="true" >
    <param name = "max_speed" value = "1.0" />
    <param name = "pid_p" value = "0.4" />
    <param name = "pid_i" value = "0.1" />
    <param name = "pid_d" value = "1.0" />
    <param name = "i_max_" value = "0.10" />
    <param name = "set_yaw_speed" value = "0.7" />
    <param name = "goal_dist_tolerance" value = "0.40" />
    <param name = "far_goal_dist_tolerance" value = "0.7"/>
    <param name = "far_far_goal_dist_tolerance" value = "1.5"/>
    <param name = "alpha" value = "0.2"/>
    <param name = "set_max_yaw_speed_" value = "1.0"/>
    </node>

    <node pkg="sentry_nav" type="global_to_local" name="global_to_local"/>

    <!-- <include file="$(find sentry_decision)/launch/pursuit.launch">
	</include> -->

    <!-- <node pkg="sentry_nav" type="trans_tf_2d_odom" name="trans_tF_2d_odom" />
    <node pkg="sentry_nav" type="trans_odom_2d" name="trans_odom_2d" /> -->
	<!-- <include file="$(find velocity_smoother_ema)/launch/velocity_smoother_ema.launch"> -->
	<!-- </include> -->
    
</launch>
